# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb
*.dwo

# Compiled libraries
*.so
*.dylib
*.dll
*.a
*.lib
*.lai
*.la

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Build folders
build/

# Editor/IDE files
.vscode/
*~
*.swp
